<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mengzhiayuan.naruto.dao.GradeAndPredictMapper">
    
    <select id="getGradeList" resultType="StudentsScore">
        select student_id,num,chinese,math,english,physical,chemistry,biology
        from study_system.students_score
        where student_id = #{studentId}
    </select>

</mapper>